<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.6.1</title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
            let numbera=parseFloat=prompt("enter number");
            let numberb=parseFloat=prompt("enter another number");
            let numberc=parseFloat=alert(numbera + numberb);
   let myFloat=parseFloat(numbera + numberb);
   let myInteger=parseInt(numbera + numberb);
   console.log(myFloat);
   console.log(myInteger);
        </script>
    </body>
</html>