<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.7.1</title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
   let number1=1;
   let number2=2;
   let numbera= Math.max(number1,number2);
   let numberb= parseFloat(number1 + number2 /2);
   let numberb1= Math.ceil(numberb)
   const numberc= Math.PI
   let numberd=Math.random(number1,number2);
   console.log(numbera);
   console.log(numberb1)
   console.log(numberc);
   console.log(numberd);
        </script>
    </body>
</html>